# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

/node_modules
.next
# .cursor/*
.cursorrules
node_modules
out
.cursor/rules


node_modules
dist
dist-ssr


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Notion scripts 
update-notion-final.js
test-notion.js
add-seo-server-actions.js
create-portfolio-simple.js
create-portfolio.js
simple-test.js

.claude